h3  {
    color: white;
}
.friends {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.itemRound {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gold;
}